@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1650268773237') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoji:before {
  content: "\e604";
}

.icon-fuhe:before {
  content: "\e605";
}

.icon-duibidu:before {
  content: "\e606";
}

.icon-jingxiang:before {
  content: "\e607";
}

.icon-suoxiaosvg:before {
  content: "\e608";
}

.icon-fangda:before {
  content: "\e609";
}

.icon-ruihua:before {
  content: "\e610";
}

.icon-huitui:before {
  content: "\e611";
}

.icon-chexiao:before {
  content: "\e612";
}

.icon-xiutu:before {
  content: "\e613";
}

.icon-hexingzhujie:before {
  content: "\e614";
}

.icon-hexingyulan:before {
  content: "\e615";
}

.icon-tumo:before {
  content: "\e617";
}

.icon-huaxian:before {
  content: "\e618";
}

.icon-lianjie:before {
  content: "\e619";
}

.icon-quanxuan:before {
  content: "\e61a";
}

.icon-shanchu:before {
  content: "\e61b";
}

.icon-jishubiaoqian:before {
  content: "\e620";
}

.icon-fenxibiaoqian:before {
  content: "\e621";
}

.icon-fanse:before {
  content: "\e622";
}

.icon-lunkuo:before {
  content: "\e623";
}

.icon-shangse:before {
  content: "\e624";
}

.icon-mirror:before {
  content: "\e634";
}

.icon-mirror1:before {
  content: "\e640";
}

.icon-jihua:before {
  content: "\e62a";
}

.icon-renwuguanli:before {
  content: "\e62b";
}

.icon-shenpizhongxin:before {
  content: "\e62c";
}

.icon-shujuguanli:before {
  content: "\e62d";
}

.icon-guanli:before {
  content: "\e62e";
}

.icon-shujuzhongxin:before {
  content: "\e62f";
}

.icon-biaoqianshichang:before {
  content: "\e630";
}

.icon-quanxuanrenqun:before {
  content: "\e631";
}

.icon-zidingyibiaoqian:before {
  content: "\e632";
}

.icon-yonghuhuaxiang:before {
  content: "\e633";
}

.icon-mingxihuaxiang:before {
  content: "\e635";
}

.icon-APIguanli:before {
  content: "\e636";
}

.icon-shouye:before {
  content: "\e637";
}

.icon-shijianmoban:before {
  content: "\e638";
}

.icon-shujujiguanli:before {
  content: "\e639";
}

.icon-shenpi:before {
  content: "\e63a";
}

.icon-jichuguanli:before {
  content: "\e63b";
}

.icon-dianqunshichang:before {
  content: "\e63c";
}

.icon-kehuguanli:before {
  content: "\e63d";
}

.icon-kehulianxi:before {
  content: "\e63e";
}

.icon-shequnguanli:before {
  content: "\e63f";
}

.icon-huodong:before {
  content: "\e641";
}

.icon-tongji:before {
  content: "\e642";
}

.icon-qiyeguanli:before {
  content: "\e643";
}

.icon-zhibiaoku:before {
  content: "\e644";
}

.icon-moxingguanli:before {
  content: "\e645";
}

.icon-zhibiaozidian:before {
  content: "\e646";
}

.icon-zizhuqushu:before {
  content: "\e647";
}

.icon-zhibiaoyuan:before {
  content: "\e648";
}

.icon-buhuoguanli:before {
  content: "\e649";
}

.icon-fengkongguanli:before {
  content: "\e64a";
}

.icon-xinshouyindao:before {
  content: "\e64b";
}

.icon-xinpin:before {
  content: "\e64c";
}

.icon-fendangtaihuan:before {
  content: "\e64d";
}

.icon-zuzhiguanli:before {
  content: "\e64e";
}

.icon-quanxianguanli:before {
  content: "\e64f";
}

.icon-jihuaxietong:before {
  content: "\e650";
}

